.ventas-container {
  width: 100%;
  min-height: 100vh;
  /* Asegura que el contenedor tenga al menos la altura de la pantalla */
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  /* Mantiene el contenido arriba */
  padding: 20px;
  box-sizing: border-box;
  // border: 4px solid #4caf50
  }
  
  .ventas-form {
    width: 780px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .ventas-form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .ventas-form select,
  .ventas-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
  }
  
  .ventas-form button {
    width: 30%;
    padding: 10px;
    background-color: #109b71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
  }
  
  .ventas-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .boton-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-content button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:nth-of-type(1) {
    background-color: #4caf50;
    color: white;
  }
  
  .modal-content button:nth-of-type(2) {
    background-color: #f44336;
    color: white;
  }  
  
  .ventas-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
  }
  
  .ventas-table th,
  .ventas-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .form-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
  }
  
  .form-item {
    display: flex;
    flex-direction: column;
  }
  
  